@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EventListViewModel

<div class="content">

    <nav id="likeList">
        <header>Terug naar</header>
    </nav>

    <section id="performanceList">
        <header>
            Agenda
            <div hight="55%">
                <form class="d-flex">
                    <a asp-area="" asp-controller="Home" asp-action="Index"
                       class="btn btn-outline-dark" type="submit">Alle</a>
                    @* aanroep naar viewcomponent*@  @await Component.InvokeAsync("GenreList", "Home")
                </form>
            </div>
        </header>

        @foreach (var performance in Model.Events)
        {
            <section id="@performance.Id" class="performance position-relative">
                <div class="onthoud"></div>
                <table>
                    <tr>
                        <th colspan="2" align="center">
                            <h3>
                                @performance.Title
                                <a class="ms-5 badge text-decoration-none rounded-pill bg-primary"
                                   asp-area="User" asp-controller="Cart" asp-action="Add" asp-route-id="@performance.Id">
                                    Ticket
                                </a>
                                <div class="bladwijzerLink"></div>
                            </h3>
                            <div>
                                <h5>Van: @performance.CompanyName</h5>
                            </div>
                            <h4>Op: @performance.EventDate.ToString("dd-MM-yyyy") om @performance.EventDate.ToString("HH:mm")</h4>

                            <div>
                                <h5 class="alert-danger">@performance.LocationName</h5>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <td colspan="2" align="left">
                            @performance.Description
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" align="left">

                            @if (performance.Genres.Count() != 0)
                            {
                                <div>
                                    <h5>
                                        Genre(s):

                                        @foreach (var genre in performance.Genres)
                                        {
                                            <span margin-right="20px" font-size="0.6em"> &#9826; @genre.Name</span>
                                        }
                                    </h5>

                                </div>}
                        </td>
                    </tr>
                    <tr>
                        <td width="80%" class="align-content-lg-start">
                            <div id="@(performance.Id)_media">
                                @if (!String.IsNullOrEmpty(performance.Videostring))
                                {
                                    <video width="320" height="240" controls>
                                        <source src="@performance.Videostring" type="video/mp4">
                                        <source src="@performance.Videostring" type="video/webm">
                                        <source src="@performance.Videostring" type="video/ogg">
                                        Your browser does not support the video tag.
                                    </video>
                                }
                                else
                                {
                                    <img src="@performance.Imagestring" alt="Afbeelding van @performance.Title" height="320"
                                         class="performanceImage" />
                                    @if (!String.IsNullOrEmpty(performance.Audiostring))
                                    {
                                        <audio controls>
                                            <source src="@performance.Audiostring" type="audio/mp3">
                                            <source src="@performance.Audiostring" type="audio/ogg">
                                            <source src="@performance.Audiostring" type="audio.vorbis">
                                            Your browser does not support the video tag.
                                        </audio>
                                    }
                                }
                            </div>
                        </td>
                    </tr>
                </table>

            </section>
        }
    </section>

</div>

<script src="~/js/site.js" asp-append-version="true"></script>
